policy_module(gtacoin, 1.100.1)

########################################
#
# Declarations
#

type gtacoin_t;
type gtacoin_exec_t;
init_daemon_domain(gtacoin_t, gtacoin_exec_t)

permissive gtacoin_t;

type gtacoin_initrc_exec_t;
init_script_file(gtacoin_initrc_exec_t)

type gtacoin_conf_t;
files_type(gtacoin_conf_t)

type gtacoin_var_lib_t;
files_type(gtacoin_var_lib_t)

type gtacoin_var_run_t;
files_type(gtacoin_var_run_t)

type gtacoin_port_t;
corenet_port(gtacoin_port_t)

########################################
#
# gtacoin local policy
#
allow gtacoin_t self:process { fork };

allow gtacoin_t self:fifo_file rw_fifo_file_perms;
allow gtacoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(gtacoin_t, gtacoin_conf_t, gtacoin_conf_t)
manage_files_pattern(gtacoin_t, gtacoin_conf_t, gtacoin_conf_t)

manage_dirs_pattern(gtacoin_t, gtacoin_var_lib_t, gtacoin_var_lib_t)
manage_files_pattern(gtacoin_t, gtacoin_var_lib_t, gtacoin_var_lib_t)
files_var_lib_filetrans(gtacoin_t, gtacoin_var_lib_t, { dir file })

manage_dirs_pattern(gtacoin_t, gtacoin_var_run_t, gtacoin_var_run_t)
manage_files_pattern(gtacoin_t, gtacoin_var_run_t, gtacoin_var_run_t)

sysnet_dns_name_resolve(gtacoin_t)
corenet_all_recvfrom_unlabeled(gtacoin_t)

allow gtacoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(gtacoin_t)
corenet_tcp_sendrecv_generic_node(gtacoin_t)
corenet_tcp_sendrecv_all_ports(gtacoin_t)
corenet_tcp_bind_generic_node(gtacoin_t)

gen_require(`
    type gtacoin_port_t;
')
allow gtacoin_t gtacoin_port_t:tcp_socket name_bind;

gen_require(`
    type gtacoin_port_t;
')
allow gtacoin_t gtacoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(gtacoin_t)

files_read_etc_files(gtacoin_t)

miscfiles_read_localization(gtacoin_t)

sysnet_dns_name_resolve(gtacoin_t)

allow gtacoin_t gtacoin_exec_t:file execute_no_trans;
allow gtacoin_t self:process setsched;
corecmd_exec_ls(gtacoin_t)
corenet_tcp_connect_http_port(gtacoin_t)
dev_read_urand(gtacoin_t)
fs_getattr_xattr_fs(gtacoin_t)
kernel_read_system_state(gtacoin_t)
